openapi: 3.0.3
info:
  title: 'API Cantine Ciprel'
  description: 'Cette documentation vise à fournir toutes les informations dont vous avez besoin pour travailler avec notre API.'
  version: 1.0.0
servers:
  -
    url: 'https://cantine-ciprel.ci.ddev.site'
paths:
  /api/login:
    post:
      summary: 'Authentifier un utilisateur'
      operationId: authentifierUnUtilisateur
      description: "Cette endpoint permet d'authentifier un utilisateur7"
      parameters: []
      responses: {  }
      tags:
        - Authentification
      security: []
  /api/logout:
    post:
      summary: 'Déconnecter un utilisateur'
      operationId: dconnecterUnUtilisateur
      description: 'Cette endpoint permet de déconnecter un utilisateur'
      parameters: []
      responses: {  }
      tags:
        - Authentification
  /api/orders:
    get:
      summary: 'Historiques des commandes du jour'
      operationId: historiquesDesCommandesDuJour
      description: "Cette Api's liste les commandes consommées et non consommé"
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      status: 401
                      title: Unauthenticated!
                      detail: Unauthenticated.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        status: 401
                        title: Unauthenticated!
                        detail: Unauthenticated.
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          example: 401
                        title:
                          type: string
                          example: Unauthenticated!
                        detail:
                          type: string
                          example: Unauthenticated.
      tags:
        - 'Gesion des commandes'
    post:
      summary: 'Effectuer une commande pour un tiers'
      operationId: effectuerUneCommandePourUnTiers
      description: 'Cette endpoint permet de passer une commande pour un tiers'
      parameters: []
      responses: {  }
      tags:
        - 'Gesion des commandes'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identifier:
                  type: string
                  description: ''
                  example: quasi
                dish_id:
                  type: string
                  description: ''
                  example: recusandae
              required:
                - identifier
                - dish_id
  /api/completed/orders:
    get:
      summary: ''
      operationId: getApiCompletedOrders
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      status: 401
                      title: Unauthenticated!
                      detail: Unauthenticated.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        status: 401
                        title: Unauthenticated!
                        detail: Unauthenticated.
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          example: 401
                        title:
                          type: string
                          example: Unauthenticated!
                        detail:
                          type: string
                          example: Unauthenticated.
      tags:
        - 'Gesion des commandes'
  /api/cards:
    get:
      summary: 'Retourne la liste des cartes RFID'
      operationId: retourneLaListeDesCartesRFID
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      status: 401
                      title: Unauthenticated!
                      detail: Unauthenticated.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        status: 401
                        title: Unauthenticated!
                        detail: Unauthenticated.
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          example: 401
                        title:
                          type: string
                          example: Unauthenticated!
                        detail:
                          type: string
                          example: Unauthenticated.
      tags:
        - 'Gestion des cartes'
  '/api/cards/{identifier}':
    get:
      summary: "Afficher les informations d'une carte RFID"
      operationId: afficherLesInformationsDuneCarteRFID
      description: "Cette endpoint permet d'afficher les informations d'une carte RFID"
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      status: 401
                      title: Unauthenticated!
                      detail: Unauthenticated.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        status: 401
                        title: Unauthenticated!
                        detail: Unauthenticated.
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          example: 401
                        title:
                          type: string
                          example: Unauthenticated!
                        detail:
                          type: string
                          example: Unauthenticated.
      tags:
        - 'Gestion des cartes'
    parameters:
      -
        in: path
        name: identifier
        description: ''
        example: CARD000
        required: true
        schema:
          type: string
  /api/cards/current/assign:
    post:
      summary: 'Assignation de Carte primaire'
      operationId: assignationDeCartePrimaire
      description: "Cette endpoint permet d'assigner une carte primaire(Carte courante) à un utilisateur"
      parameters: []
      responses: {  }
      tags:
        - 'Gestion des cartes'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: ''
                  example: voluptas
                identifier:
                  type: string
                  description: 'Le texte ne peut contenir plus de 255 caractères.'
                  example: axhbwaruujalhwk
                quota_breakfast:
                  type: integer
                  description: 'La valeur doit être supérieure ou égale à 0. La valeur ne peut être supérieure à 25.'
                  example: 3
                quota_lunch:
                  type: integer
                  description: 'La valeur doit être supérieure ou égale à 0. La valeur ne peut être supérieure à 25.'
                  example: 25
                payment_method_id:
                  type: string
                  description: ''
                  example: null
              required:
                - user_id
                - identifier
  /api/cards/temporary/assign:
    post:
      summary: 'Assigner une carte temporaire'
      operationId: assignerUneCarteTemporaire
      description: "Cette endpoint permet d'assigner une carte temporaire à un utilisateur"
      parameters: []
      responses: {  }
      tags:
        - 'Gestion des cartes'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: ''
                  example: modi
                access_card_identifier:
                  type: string
                  description: 'Le texte ne peut contenir plus de 255 caractères.'
                  example: wbaklgymvmuvlvzcosjri
                expires_at:
                  type: string
                  description: "Ce n'est pas une date valide. La date doit être postérieure ou égale au <code>today</code>."
                  example: '2037-09-20'
              required:
                - user_id
                - access_card_identifier
                - expires_at
  /api/reload/cards:
    post:
      summary: 'Recharger une carte RFID'
      operationId: rechargerUneCarteRFID
      description: 'Cette endpoint permet de recharger une carte RFID'
      parameters: []
      responses: {  }
      tags:
        - 'Gestion des cartes'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                access_card_identifier:
                  type: string
                  description: ''
                  example: dolor
                quota_type:
                  type: string
                  description: ''
                  example: quota_lunch
                  enum:
                    - quota_lunch
                    - quota_breakfast
                quota:
                  type: integer
                  description: 'La valeur doit être supérieure ou égale à 0. La valeur ne peut être supérieure à 25.'
                  example: 17
              required:
                - access_card_identifier
                - quota_type
                - quota
  /api/cards/current:
    post:
      summary: "Recuperer de la carte courante de l'utilisateur"
      operationId: recupererDeLaCarteCouranteDeLutilisateur
      description: "Cette endpoint permet de recuperer la carte courante d'un utilisateur"
      parameters: []
      responses: {  }
      tags:
        - 'Gestion des cartes'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identifier:
                  type: string
                  description: ''
                  example: placeat
              required:
                - identifier
  /api/orders/lunch-completed:
    post:
      summary: 'Marquer la commande dejeuner comme récupérée'
      operationId: marquerLaCommandeDejeunerCommeRcupre
      description: 'Cette endpoint permet de marquer la commande dejeuner comme récupérée'
      parameters: []
      responses: {  }
      tags:
        - 'Gestion des commandes'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identifier:
                  type: string
                  description: ''
                  example: quibusdam
              required:
                - identifier
      security: []
  /api/orders/breakfast-completed:
    post:
      summary: 'Pointage petit dejeuner'
      operationId: pointagePetitDejeuner
      description: 'Cette endpoint permet de marquer la commande dejeuner comme récupérée'
      parameters: []
      responses: {  }
      tags:
        - 'Gestion des commandes'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identifier:
                  type: string
                  description: ''
                  example: quaerat
              required:
                - identifier
  /api/orders/cancel-validation:
    post:
      summary: 'Marquer la commande dejeuner comme non récupérée'
      operationId: marquerLaCommandeDejeunerCommeNonRcupre
      description: 'Cette endpoint permet de marquer la commande dejeuner comme non récupérée'
      parameters: []
      responses: {  }
      tags:
        - 'Gestion des commandes'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_identifier:
                  type: string
                  description: ''
                  example: repellat
              required:
                - order_identifier
      security: []
  /api/menus:
    get:
      summary: 'Recuperation du menu du jour'
      operationId: recuperationDuMenuDuJour
      description: 'Cette endpoint permet de récupérer le menu du jour'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      status: 401
                      title: Unauthenticated!
                      detail: Unauthenticated.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        status: 401
                        title: Unauthenticated!
                        detail: Unauthenticated.
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          example: 401
                        title:
                          type: string
                          example: Unauthenticated!
                        detail:
                          type: string
                          example: Unauthenticated.
      tags:
        - 'Gestion des menus'
  /api/dishes:
    get:
      summary: 'Liste des plats'
      operationId: listeDesPlats
      description: 'Cette endpoint permet de récupérer la liste des plats du jour'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      status: 401
                      title: Unauthenticated!
                      detail: Unauthenticated.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        status: 401
                        title: Unauthenticated!
                        detail: Unauthenticated.
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          example: 401
                        title:
                          type: string
                          example: Unauthenticated!
                        detail:
                          type: string
                          example: Unauthenticated.
      tags:
        - 'Gestion des plats'
  /api/users:
    get:
      summary: "Lister les utilisateurs de l'application"
      operationId: listerLesUtilisateursDeLapplication
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      status: 401
                      title: Unauthenticated!
                      detail: Unauthenticated.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        status: 401
                        title: Unauthenticated!
                        detail: Unauthenticated.
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          example: 401
                        title:
                          type: string
                          example: Unauthenticated!
                        detail:
                          type: string
                          example: Unauthenticated.
      tags:
        - 'Gestion des utilisateurs'
  '/api/users/{identifier}':
    get:
      summary: "Afficher les informations d'un utilisateur"
      operationId: afficherLesInformationsDunUtilisateur
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      status: 401
                      title: Unauthenticated!
                      detail: Unauthenticated.
                properties:
                  errors:
                    type: array
                    example:
                      -
                        status: 401
                        title: Unauthenticated!
                        detail: Unauthenticated.
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          example: 401
                        title:
                          type: string
                          example: Unauthenticated!
                        detail:
                          type: string
                          example: Unauthenticated.
      tags:
        - 'Gestion des utilisateurs'
    parameters:
      -
        in: path
        name: identifier
        description: ''
        example: UQB2Z
        required: true
        schema:
          type: string
  /api/users/profile-update:
    post:
      summary: "Mettre à jour le profil de l'utilisateur connecté"
      operationId: mettreJourLeProfilDeLutilisateurConnect
      description: "Cette endpoint permet de mettre à jour le profil de l'utilisateur connecté"
      parameters: []
      responses: {  }
      tags:
        - 'Gestion des utilisateurs'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: "Le prénom de l'utilisateur"
                  example: aliquid
                last_name:
                  type: string
                  description: "Le nom de l'utilisateur"
                  example: aperiam
                email:
                  type: string
                  description: "L'adresse email de l'utilisateur"
                  example: ladarius86@example.org
                contact:
                  type: string
                  description: "Le contact de l'utilisateur"
                  example: unde
              required:
                - first_name
                - last_name
                - email
                - contact
  /api/users/change-password:
    post:
      summary: "Changer le mot de passe de l'utilisateur connecté"
      operationId: changerLeMotDePasseDeLutilisateurConnect
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Gestion des utilisateurs'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                  description: "Le mot de passe actuel de l'utilisateur"
                  example: placeat
                password:
                  type: string
                  description: "Le nouveau mot de passe de l'utilisateur"
                  example: ')9F$;S&aXw)'
                password_confirmation:
                  type: string
                  description: "La confirmation du nouveau mot de passe de l'utilisateur\n\nCette endpoint permet de changer le mot de passe de l'utilisateur connecté"
                  example: quaerat
              required:
                - current_password
                - password
                - password_confirmation
  /api/users/current:
    post:
      summary: "Récupérer l'utilisateur connecté"
      operationId: rcuprerLutilisateurConnect
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Gestion des utilisateurs'
tags:
  -
    name: Authentification
    description: ''
  -
    name: 'Gesion des commandes'
    description: "\nEndpoints pour la gestion des commandes"
  -
    name: 'Gestion des cartes'
    description: ''
  -
    name: 'Gestion des commandes'
    description: "\nEndpoints pour la gestion des commandes"
  -
    name: 'Gestion des menus'
    description: "\nEndpoints pour la gestion des menus de la cantine"
  -
    name: 'Gestion des plats'
    description: "\nEndpoints pour la gestion des plats de la cantine"
  -
    name: 'Gestion des utilisateurs'
    description: ''
